<!DOCTYPE html>
<html>
  <head>
    <title>Interface admin - {{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
  <script src="/javascripts/singin.js"></script>
  <script src="/javascripts/logout.js"></script>
  <script src="/javascripts/login.js"></script>
</html>